img{
    display: inline;
    width: auto;
    height: 50px;  
}
h3 { 
    display: inline;
    color: floralwhite;
    font-family: bangers;
}
h4 { 
    display: inline;
    color: floralwhite;
    font-family: bangers;
}
