main {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

app-square {
    border:  1px grey solid;
    height: 100px;
    width:auto;
}
.row{
    align-items: center;
    text-align: center;
}
.header{
    align-items: center;
}
h3, h2, h1 {
    font-family: bangers;
    color: floralwhite;
}
